/* Global Threads Base Styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F5EFE6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}